<html ng-app="plunker">

<head>
  <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ssp13.github.io/css/settings.css" media="screen" />
  <link href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
  <title>χρονομηχανή</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="MainCtrl">
  <select ng-model="searchOption" name="searchOption">
    <option>google</option>
    <option>microsoft</option>
  </select>
  <checkbox>
    <option>sd</option>
  </checkbox>
  <br />{{searchOption}}
  <div>

  <div id="foo"></div>
  <div class="container">
    <h1 style="margin-left:-800px">χρονομηχανή{{yearRange}}</h1>
    <div class="row">
      <label class="year">Year</label>
    </div>
    <br />
    <div id="range" style="top:100px">
      1930
      <input type="range" id="year" min="1930" max="2014" ng-model-options="{ updateOn: 'click' }" ng-model="yearRange" />2014
    </div>
    <br />
    <div class="cont"   infinite-scroll="alert()" infinite-scroll-distance="1">
      <div class="megafolio-container" >
      
        
      </div>
    </div>

  </div>

</div>
<div class="mine">
  
</div>

<script>
 
  
</script>

  <script data-require="angular.js@1.3.4" data-semver="1.3.4" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script data-require="angular-ui@0.4.0" data-semver="0.4.0" src="http://rawgithub.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- MEGAFOLIO PRO GALLERY CSS SETTINGS -->
  <!-- MEGAFOLIO PRO GALLERY JS FILES -->
  <script type="text/javascript" src="http://ssp13.github.io/js/jquery.themepunch.megafoliopro.js"></script>
  <script type="text/javascript" src="http://ssp13.github.io/js/jquery.themepunch.plugins.min.js"></script>
  <script src="spin.js"></script>
    <script src="infiniteScroll.js"></script>

  <script src="script.js"></script>
</body>

</html>
